.App {
  /*text-align: center;*/
}
pre{
    background: lightgray;
    -webkit-overflow-scrolling:touch;
}
img{
    vertical-align: initial !important;
}
p{
    /*word-wrap: break-word;*/
    word-break: break-all;
}
/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #61dafb;*/
/*}*/

/*@keyframes App-loading-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/
a:hover,a:visited{
    text-decoration: none;
}
.card{
    margin-bottom: 0.4rem;
    word-wrap: normal !important;
}
.badge{
  margin-right: 6px;
}
.ReactCrop__image{
    max-height: initial !important;
}
